streamlit==1.45.1   
pandas>=2.0.0
numpy>=1.24.0
scikit-learn>=1.3.0
scipy>=1.10.0
matplotlib
seaborn
plotly
xgboost
lightgbm
category-encoders
shap
joblib
lightgbm
fpdf
joblib
openpyxl
statsmodels

#streamlit
#pandas
#numpy
#scikit-learn
#scipy
#statsmodels
#matplotlib
#seaborn
#plotly
#shap
#xgboost
#lightgbm
#fpdf
#joblib
#openpyxl